################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TopicSampleSite/.vs/TopicSampleSite/FileContentIndex/6c23d7e2-d718-47f7-8248-5a3804ca3480.vsidx
/TopicSampleSite/.vs/TopicSampleSite/FileContentIndex/807d69f0-dd10-43d1-b0a9-5a6785a68be5.vsidx
