################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TopicSampleSite/.vs/TopicSampleSite/FileContentIndex/6c23d7e2-d718-47f7-8248-5a3804ca3480.vsidx
